.alertBanner {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alertBannerSuccess {
  background-color: #d4edda;
  color: #155724;
}

.alertBannerError {
  background-color: #f8d7da;
  color: #721c24;
}

.alertBannerWarning {
  background-color: #fff3cd;
  color: #856404;
}

.alertBannerInfo {
  background-color: #d1ecf1;
  color: #0c5460;
}

.alertBannerCloseButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
